@page "/"


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center mb-4">Calculadora de IMC</h2>
            <div class="card">
                <div class="card-body">

                    <div class="form-group">
                        <label for="altura">Altura (m):</label>
                        <input type="number" @bind-value="@Altura" step="0.01" class="form-control" id="altura"
                            placeholder="Digite sua altura" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="peso">Peso (kg):</label>
                        <input type="number" step="0.1" @bind-value="@Peso" class="form-control" id="peso"
                            placeholder="Digite seu peso" required>
                    </div>
                    <br>
                    <button @onclick="@Calcular" class="btn btn-primary btn-block">Calcular</button>
                    <button class="btn btn-primary btn-block" @onclick="Limpar">Limpar</button>

                </div>
            </div>
            <div id="resultado" class="mt-4">@_resultado</div>
        </div>
    </div>
</div>


<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        margin-top: 10%;
        
    }
</style>

@code {
    public double Altura;
    public double Peso;
    private string _resultado;

    void Limpar(){
        _resultado = string.Empty;
        Peso = 0;
        Altura = 0;
    }
    void Calcular()
    {
        var resultado = Peso / (Altura * Altura);

        if (resultado < 18.5)
        {
            _resultado = "Abaixo do peso";
        }
        else if (resultado >= 18.5 && resultado < 24.9)
        {
            _resultado = "Peso normal";
        }
        else if (resultado >= 24.9 && resultado < 29.9)
        {
            _resultado = "Sobrepeso";
        }
        else if (resultado >= 29.9 && resultado < 34.9)
        {
            _resultado = "Obesidade grau I";
        }
        else if (resultado >= 34.9 && resultado < 39.9)
        {
            _resultado = "Obesidade grau II";
        }
        else
        {
            _resultado = "Obesidade grau III";
        }
    }

}